/* typography */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* variables*/
 :root{
  --shojiWhite: #EEEDE8; 
  --crimsonRed: #E31E24; 
  --crimsonLight: #ec6f73;
  --primaryBlue: #23377F; 
  --sort: #292828;
  --grey: #7a7a7aac; 
  --largeSpacing: 2rem;
  --stndSpacing: 1rem;
  --borderRadius: 10px; 
} 

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling  og typografi */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--shojiWhite);
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
    line-height: 150%;
    max-width: 70ch;
    font-size: 1.2rem;

}

.textCenter {
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--shojiWhite);
}

ul {
    list-style: none;
}

/* forside styles */

/* Header */
.heroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/Forside.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frontPageTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--largeSpacing);
    color: var(--shojiWhite);
}

.heroTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        flex-direction: column;
        padding: var(--largeSpacing);
        color: var(--shojiWhite);
}


.heroText p {
    font-weight: 400;
}

.heroTitle {
    z-index: 1;
    
}

/* Logo */
.logo img {
    height: 80px;
    padding: var(--stndSpacing);
}

/* nav */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.551);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    padding: 2rem 1rem;
    transition: .3s ease-in-out;
}

.menu a:hover {
    background-color: #eeede8cc; 
    color: var(--sort);
}


/* dropdown */
.navItem {
    display: flex;
    align-items: center;
    color: var(--shojiWhite);
  }

.dropdownNav1 {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.716);
    min-width: 15vw;
    padding: .5rem;
  }


.dropdownNav1 a {
    padding: .8rem;
    border-radius: var(--borderRadius);
    font-size: 12px;
  }

.dropdownNav1 li {
    margin: .8rem;
  }
  
.navItem:hover .dropdownNav1 {
    display: inline-flex; 
    z-index: 2;
    flex-direction: column;
    position: absolute;
    top: 8%;
    border-radius: var(--borderRadius);
  }

/* main section */

.forsideTextContainer {
    background-color: var(--shojiWhite);
    padding-top: 3rem;
}

.forsideText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.forsideText p {
    margin: 1rem 0;
}

/* ashirhara benefits section */
#ashiharaBenefits,
#ashiharaBenefits1, #ashiharaBenefits2, 
#ashiharaBenefits3 {
text-align: center;
}

#ashiharaBenefits p,
#ashiharaBenefits1 p, #ashiharaBenefits2 p, 
#ashiharaBenefits3 p {
font-weight: 900;
color: var(--primaryBlue);
font-size: 1.5rem;

}

#ashiharaBenefits i,
#ashiharaBenefits1 i, #ashiharaBenefits2 i, 
#ashiharaBenefits3 i {
color: var(--primaryBlue);
font-size: 5.5rem;
}



.forsideTextContainer2 {
    background-color: var(--shojiWhite);
    padding: 0;
}

 /* entrypoints */

 .entryPointKlubbenContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointKlubben{
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/OmKlubbenHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointKlubben:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

.entryPointHoldContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}


.entryPointHold{
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/forside/3traeningtider-og-hold-Desktop.jgp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointHold:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

  /* burger */
  

  /* burger slut */

@media screen and (min-width: 900px) {
    .forsideEntryPoints {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 950px;
        margin: 0 auto;
    }   
}
@media screen and (min-width: 600px) {
    .forsideTextContainer2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* max-width: 600px; */
        margin: 0 auto;
    }
}
@media screen and (min-width: 800px) {
    .forsideTextContainer2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 950px;
        margin: 0 auto;
    }
}

/* Sub nav */


/* forside styles slut */

/* Træningstider og hold side styles */

/* herobillede */

.tiderOgHoldheroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/forside/3traeningtider-og-hold-Desktop.jgp.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main section */

.holdTider h2 {
    text-align: center;
}

.holdTider {
    max-width: 250px;
    margin: 0 auto;
}
#tiderOgHoldMargin p {
    margin: 0;
    margin-top: .8rem;
}


.tiderOgHoldFlex {
    display: flex;
    justify-content: space-between;
}

.tiderOgHoldTextContainer {
    background-color: var(--shojiWhite);
}

.tiderOgHoldText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--largeSpacing);
}

.holdBaggrundHvid {
    background-color: white;
}

.tiderOgHoldText p {
    margin: 1rem 0;
}
/* entrypoints */

.entryPointBlivMedlemContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointBlivMedlem{
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/4blivMedlemHeroDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointBlivMedlem:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */

@media screen and (min-width: 930px) {
    .tiderOgHoldDesktop {
        display: flex;
        justify-content: space-between;
        max-width: 930px;
        margin: 0 auto;
    }

    .holdTider {
       margin-inline: var(--largeSpacing);
    }
}

/* træningtider og hold slut */

/* Vedtægter side styles */

/* herobillede */
.vedtaegterheroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/vedtaegter.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* accordion styles */

.vedtaegtContainerSingleBorder {
    border-bottom: 3px solid var(--primaryBlue);
}
.vedtaegtContainerDoubleBorder {
    border-top: 3px solid var(--primaryBlue);
    border-bottom: 3px solid var(--primaryBlue);
}

summary {
    padding: .5rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  summary:after{
    content: "\002B";
    font-size: 2rem;
    
  }

  details[open] summary:after{
    content: "\00D7";

  }

/* Vedtægter side slut */

/* bæltegrader og graduering side styles */

/* hero billede */
.gradueringheroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/gradueringHeroDekstop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main section */

.gradueringTextContainer {
    background-color: var(--shojiWhite);
    padding: 3rem 0;
}

.gradueringText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.beltImgContainer {
    text-align: center;
    height: 200px;
}


.gradueringText p {
    margin: 1rem 0;
}

/* Entry point */

.entryPointBegivenhederContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointBegivenheder{
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/begivenhederHeroDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointBegivenheder:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* graduering media queries */

@media screen and (min-width: 800px) {
    .gradueringFlex {
        display: flex;
        align-items: center;
        gap: var(--largeSpacing);
    }
}

/* bæltegrader og graduering slut */

/* Om ashihara karate side styles */

/* hero billede */
.oakheroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/forside/2omAshiharaDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main section */

.oakTextContainer {
    background-color: white;
    padding: 3rem 0;
}

.oakText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.oakText p {
    margin: 1rem 0;
}

/* Entry point */

.entryPointGradueringContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointGraduering {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/gradueringHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointGraduering:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* Om ashihara karate slut */

/* FAQ side styles */

/* FAQ hero billede */
.faqheroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/faqDekstop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FAQ main section */

.faqTextContainer {
    background-color: white;
    padding: 3rem 0;
}

.faqText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.faqText p {
    margin: 1rem 0;
}

/* FAQ side slut */

/* instruktørene side */

/* header, nav og intro tekst */
.instrukBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.descriptInstructors {
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* instruktører grid layout */
.gridContianer {
    display: grid;
    grid-gap: var(--largeSpacing);
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
}

.cardContainer {
    /* background: #7a7a7a13;  */
    background: hsla(227, 57%, 32%, 0.9);
    border-radius: var(--borderRadius);
    width: 100%;
    color: var(--shojiWhite);
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}


.cardContainer img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--borderRadius);
}

.cardText p {
    font-size: 16px;
    padding: var(--largeSpacing);
} 

/* entry point */
.entryPointAshiharaContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointAshihara {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/forside/2omAshiharaDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointAshihara:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */

/* media query til tablet, 2 kolonner */
@media screen and (max-width: 1168px) {
    .gridContianer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        max-width: 800px;
        margin: 0 auto;
    }

    .descriptInstructors {
        max-width: 700px;
    }
}

/* media query til mobil, 1 kolonne */
@media screen and (max-width: 768px) {
    .gridContianer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        max-width: 390px;
        margin: 0 auto;
    }

    .descriptInstructors {
        max-width: 500px;
    }

    .heroTitle h1 {
        font-size: 4vh; 
    }
}


/* MØD INSTRUKTØRENE SLUT */

/*  OM KLUBBEN */
/* header */
.omKlubbenBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/OmKlubbenHeader.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main text */
.klubbenTextContainer {
    background-color: white;
    padding: 3rem 0;
}

.klubbenText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.klubbenText p {
    margin: 1rem 0;
}


/* entrypoint instruktører */
.entryInstructorsContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryInstructors {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryInstructors:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .klubbenTextContainer {
        padding: 4rem 0;
        margin: 8rem 0;
    }
    
    .klubbenText {
        max-width: 80%;
        margin: 0 auto;
    }

    .entryInstructors {
        margin: 0 auto;
        max-width: 90%;
    }
}
/* om klubben færdig */



/* footer  styles */

.footerBackgroundColor {
background-color: black;
}

footer {
padding-block: var(--largeSpacing);
width: 80%;
margin: 0 auto;
}

.footercontent {
   text-align: center;
}
.footercontent i {
   font-size: 2rem;
   color: var(--shojiWhite);
}

.logoWidth {
    width: 249px;
    height: 100%;
    margin: 0 auto;
}

footer p {
color: var(--shojiWhite);
font-weight: 600;
font-size: .8em;
}

.footerFlex {
    display: flex;
    gap: var(--stndSpacing);
}

.kontaktInfo {
    width: 249px;
    margin:  auto;
    padding: var(--stndSpacing);
}
.kontaktInfo div:nth-child(1), .kontaktInfo div:nth-child(2){
    padding-bottom: var(--stndSpacing);
}

.socials {
    width: 249px;
    margin: 0 auto;
    padding-bottom: var(--stndSpacing);
}

.socials i {
  margin: 0 1rem;
  transition: .3s ease-in-out;
}

.socials i:hover {
    transform: scale(130%);
}

@media screen and (min-width:1050px) {
  .footercontent {
    display: flex;  
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .burgerMenu i {
    display: none;
  }

}

@media screen and (max-width:1050px) {
    .menu li {
        display: none; 
    }

    .menu i {
        display: inline-block;
        color: var(--shojiWhite);
        font-size: 3vh;
        margin: var(--stndSpacing);
    }
}


/* nyheder start */
/* header */
.nyhederBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/nyhederDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */
/* nyheder cards */
.newsGridContainer {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.newsCardContainer {
    max-width: 100%;
    padding: var(--largeSpacing);
    background-color: white;   
    text-align: center;
    border-radius: var(--borderRadius);
    transition: .3s ease-in-out;
    margin-top: 4rem;
}

.newsCardContainer:hover {
    transform: scale(105%);
}

.newsText h3 {
    margin: .5rem;
    font-weight: 700;
    color: var(--primaryBlue);
}

.newsText p {
    margin: var(--stndSpacing);
    font-size: .8rem;
    color: var(--primaryBlue);
}

.newsImg {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/5artikel.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsImgText p {
    font-weight: 700;
    font-size: 2rem;
}

.news2Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/6artikel\ \(1\).png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news3Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/2artikele.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news4Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/4artikel.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* entrypoint */
.entryTiderogHoldContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryTiderogHold {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryTiderogHold:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries nyheder */
@media screen and (max-width: 768px) {
    .newsGridContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-gap: 2rem; 
    }

    .newsCardContainer {
        margin-top: var(--stndSpacing);
    }

    .newsImg, .news2Img, .news3Img, .news4Img {
        height: 50vh;
    }
}

@media screen and (min-width: 2208px) {
    .newsGridContainer {
        grid-template-columns: repeat(4, minmax(400px, 1fr));
        max-width: 2400px;
        margin: 0 auto;
    }
}
/* nyheder slut */

/* Værdier og etikette start */
/* header */
.etiketteBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/veardier-og-etikette.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */
/* værdier section */
.vaerdierContainer {
    padding: 4rem;
    max-width: 1100px;
    margin: 2rem auto;
    background-color: white;
    border-radius: var(--borderRadius);
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    place-items: center;
    align-items: baseline;
}

.listContainer ul {
    margin: .5rem 0;
    padding-top: var(--largeSpacing);
}

.listContainer li {
    margin-top: 1rem;
    font-weight: 300;
}

.listContainer h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.listContainer i {
    color: var(--primaryBlue);
    margin-right: 1rem;
    font-weight: 500;
}

#balance {
    margin-bottom: 5rem;
}

.vaerdierContainer h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--stndSpacing);
}

/* etikette section */
.etiketteIntro {
    text-align: center;
}

.etiketteIntro h2 {
    font-size: 2rem;
    margin-top: var(--largeSpacing);
    margin-bottom: var(--stndSpacing);
}

.etiketteIntro p {
    max-width: 60ch;
    margin: 0 auto;
    font-weight: 500;
    padding-bottom: var(--largeSpacing);
}


/* etikette punkter */
.etikettePunkterHvid, .etikettePunkter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--stndSpacing);
    margin: 0 auto;
    max-width: 500px;
  }

  .fullWidth {
    background-color: white;
    max-width: 100vw;
  }

  
  .num p {
    display: flex;
    align-self: flex-start;
    color: var(--primaryBlue);
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 3rem;
  }
  
  .punkt {
    max-width: 600px;
    text-align: left;
  }


  /* værdier media queries  */
  @media screen and (max-width: 768px) {
    .listContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-gap: unset; 
    }

    #balance {
        margin: 0;
    }

    .num {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .punkt {
        max-width: 250px;
        margin: 0 auto;
    }

    .etiketteIntro p {
        max-width: 250px;
        margin: 0 auto;
        text-align: left;
    }
}

/* værdier og etikette slut */

/* bliv medlem start */
/* header styling */
.blivMedlemBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/4blivMedlemHeroDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main styling */
/* tekst styling */
.introText {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: var(--largeSpacing);
}

.introText p {
    max-width: unset;
    margin-top: var(--stndSpacing);
    margin-bottom: var(--largeSpacing);
}

/* form syling */
select {
    border: unset;
    text-align: left;
    min-width: 50vw;
    height: 3rem;
    padding: 1rem; 
    font-style: italic;
    margin-bottom: 1rem;
}

option {
    font-size: 1rem;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: .5rem; 
    max-width: 50vw;
    margin: 0 auto;
}

input {
    margin-bottom: var(--stndSpacing);
    border-radius: 3px;
    border: unset;
    text-align: left;
    min-width: 50vw;
    height: 3rem;
    padding: 1rem;
}

label {
    font-weight: 700;
    display: inline-block;
    font-size: 1.2rem;
}

::placeholder {
    font-style: italic;
}

/* rød button */
.blivMedlemBtn {
    color: white;
    font-weight: 700;
    background-color: var(--crimsonRed);
    padding: 1rem 2rem;
    min-width: 15vw;
    max-width: 30vw;
    margin: 0 auto;
    border: unset;
    border-radius: var(--borderRadius);
    margin-top: var(--stndSpacing);
    transition: .3s ease-in-out;
}

.blivMedlemBtn:hover {
    background-color: var(--crimsonLight);
    font-size: 93%;
    cursor: pointer;
}

/* entry points udstyr */
.entryPointUdstyrContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointUdstyr {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/udstyrHeroDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointUdstyr:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .introText {
        max-width: 300px;
        margin: 10%
    }

    .blivMedlemBackgroundImg h1 {
        font-size: 10vw;
    }
}
/* bliv medlem slut */

/* tider og hold start */
/* header */
.tiderOgHoldBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/forside/3traeningtider-og-hold-Desktop.jgp.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* træningstider sektion*/
.tiderContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    text-align: center;
    align-items: baseline;
}

.tiderContainer h3 {
    font-size: 1.8rem;
    text-wrap: wrap;
    margin: var(--stndSpacing);
}

.traeningsTiderHvid {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: var(--largeSpacing);
}

.traeningsTider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.traeningsTiderHvid p, .traeningsTider p {
    margin: var(--stndSpacing);
}

.tid {
    display: flex;
}

.ugedag {
    padding-right: 4em;
    font-weight: 700;
}

/* beskrivelser */

.beskrivelseTekst p {
    margin: var(--stndSpacing);
}


.beskrivelseTekst h3 {
    font-size: 1.5rem;
    margin: var(--stndSpacing);
}

.beskrivelseTekst {
    margin: var(--largeSpacing);
}


/* entry point */
.entryBlivMedlemContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointBlivMedlem {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/4blivMedlemHeroDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointBlivMedlem:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .beskrivelseTekst {
        max-width: 400px;
    }

    .heroTextContainer h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 968px) {
    .tiderContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}

/* tider og hold slut */
/*bestyrelse */
.bestyrelseBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/bestyrelse\ 600px.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainerBestyrelse {
    display: grid;
    grid-gap: var(--largeSpacing);
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    max-width: 1400px;
    margin: var(--stndSpacing) auto;
    padding-top: 4rem;
}
#bestyrelsesJan{
    grid-column: span 4;
}
#bestyrelsesAllan{
    grid-column: span 4;
}

#bestyrelsesBrian{
    grid-column: span 4;
}
#bestyrelsesHenrik{
    grid-column: 3 / 7;
}
#bestyrelsesDVS{
    grid-column: 7 / 11;
}
@media screen and (max-width:1050px) {
 .gridContainerBestyrelse{
    display: block;
    margin: 10%;
 }

}


/*udstyr*/
.udstyrBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/udstyrHeroDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.udstyr{
    display: grid;
    grid-gap: 4rem;
    row-gap: unset;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    max-width: 500px;
    margin: 0 auto;
}

.udstyr p{
    margin: 1rem 2px;
}
.udstyr div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #d9d6d66c;
    margin-top: var(--largeSpacing);
    border-radius: var(--borderRadius);
    
}

.udstyr h3 {
    padding-top: var(--stndSpacing);
}
.købBtn{
    margin-top: var(--stndSpacing);
    margin-bottom: var(--stndSpacing);
    background-color: var(--crimsonRed);
    padding: 8px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: var(--borderRadius);
    transition: .3s ease-in-out;
}

.købBtn:hover {
    background-color: var(--crimsonLight);
    font-size: 93%;
}

.udstyrBtn{
    background-color: white;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: var(--borderRadius);
}

@media screen and (max-width:750px) {
    .udstyr{
       /* display: block; */
       grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
   
   }
   /*entry point*/
   .entryPointBælteContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointBælte {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/gradueringHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointBælte:hover {
    transform: scale(1.1);
}

   /*støt klubben*/
   .stoetKlubbenBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/stoetKlubbenHeroDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   .støtKlubben{
    display: flex;
    justify-content: center;
    gap: 10vw;
   }

   .støtKlubben div{
    display: flex;
    flex-direction: column;
    max-width: 35vw;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d6d66c;
    margin-top: 4rem;
    border-radius: var(--borderRadius);

   }

   .støtKlubben p{
    margin: 2rem 2rem;
   }

   .støtKlubben button{
    margin: 2rem 2rem;
   }

   @media screen and (max-width:1050px) {
    .støtKlubben{
       display: block;
    }
   .støtKlubben div{
    max-width: none;
   }
   }
   /*entry point*/
   .entryPointOmKlubbenContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointOmKlubben {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/OmKlubbenHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointOmKlubben:hover {
    transform: scale(1.1);
}

   /*begivenheder*/
.begivenheder{
    display: flex;
    flex-direction: column;
  align-items: center;
}

.begivenhederBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/begivenhederHeroDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.begivenheder h2 {
    font-size: 1.5rem;
    margin-top: var(--stndSpacing);
}

.begivenheder div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: var(--largeSpacing);
    background-color: #d9d6d66c;
    border-radius: var(--borderRadius);
}   

#flexContainerBegivenheder {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: var(--largeSpacing);
    text-align: center;
}

#flexContainerBegivenheder h2 {
    margin-bottom: var(--stndSpacing);
}

#flexContainerBegivenheder div {
    max-width: 30vw;
}

#flexContainerBegivenheder p {
    padding: unset; 
    margin-bottom: var(--stndSpacing);
}

.begivenheder p {
    min-width: 400px;
    padding: var(--stndSpacing);
}

.flexContainerBegivenheder h3 {
    margin-top: var(--stndSpacing);
}

@media screen and (max-width:1050px) {
   .begivenheder p{
    min-width: none;
   }

   #flexContainerBegivenheder {
    flex-direction: column;
    }

    #flexContainerBegivenheder div {
        min-width: 80vw;
    }

    .begivenheder {
        max-width: 80vw;
        margin: 0 auto;
        padding: var(--stndSpacing);
    }
   
}