/* typography */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* variables*/
 :root{
  --shojiWhite: #EEEDE8; 
  --crimsonRed: #E31E24; 
  --crimsonLight: #EC575B;
  --primaryBlue: #23377F; 
  --sort: #292828;
  --grey: #7A7A7A; 
  --largeSpacing: 2rem;
  --stndSpacing: 1rem;
  --borderRadius: 10px; 
} 

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling  og typografi */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--shojiWhite);
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 100;
    line-height: 150%;
    max-width: 70ch;
    font-size: 1.5rem;
}

.textCenter {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--shojiWhite);
}

ul {
    list-style: none;
}

/* Header */
.heroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/Forside.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--largeSpacing);
    color: var(--shojiWhite);
}


.heroText p {
    font-weight: 400;
}

.heroTitle {
    z-index: 1;
    
}

/* Logo */
.logo img {
    height: 80px;
    padding: var(--stndSpacing);
}

/* nav */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.551);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--stndSpacing);
}

.menu a {
    padding: 2rem 1rem;
    transition: .3s ease-in-out;
}

.menu a:hover {
    background-color: #eeede8cc; 
    color: var(--sort);
    height: 100%;
}



/* Sub nav */

