/* typography */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* variables*/
 :root{
  --shojiWhite: #EEEDE8; 
  --crimsonRed: #E31E24; 
  --crimsonLight: #ec6f73;
  --primaryBlue: #23377F; 
  --sort: #292828;
  --grey: #7a7a7aac; 
  --largeSpacing: 2rem;
  --stndSpacing: 1rem;
  --borderRadius: 10px; 
} 

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling  og typografi */
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--shojiWhite);
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
    line-height: 150%;
    max-width: 70ch;
    font-size: 1.2rem;

}

.textCenter {
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--shojiWhite);
}

ul {
    list-style: none;
}

/* Header */
.heroBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/Forside.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.frontPageTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--largeSpacing);
    color: var(--shojiWhite);
}

.heroTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        flex-direction: column;
        padding: var(--largeSpacing);
        color: var(--shojiWhite);
}


.heroText p {
    font-weight: 400;
}

.heroTitle {
    z-index: 1;
    
}

/* Logo */
.logo img {
    height: 80px;
    padding: var(--stndSpacing);
}

/* nav */
.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.551);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    padding: 2rem 1rem;
    transition: .3s ease-in-out;
}

.menu a:hover {
    background-color: #eeede8cc; 
    color: var(--sort);
}

/* dropdown */
.navItem {
    display: flex;
    align-items: center;
    color: var(--shojiWhite);
  }

  .dropdownNav1 {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.716);
    min-width: 15vw;
    padding: .5rem;
  }

  .dropdownNav1 a {
    padding: .8rem;
    border-radius: var(--borderRadius);
  }

  .dropdownNav1 li {
    margin: .8rem;
  }
  
  .navItem:hover .dropdownNav1 {
    display: inline-flex; 
    z-index: 2;
    flex-direction: column;
    position: absolute;
    top: 8%;
    border-radius: var(--borderRadius);
  }


/* instruktørene side */

/* header, nav og intro tekst */
.instrukBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.descriptInstructors {
    padding: 3rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* instruktører grid layout */
.gridContianer {
    display: grid;
    grid-gap: var(--largeSpacing);
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
}

.cardContainer {
    /* background: #7a7a7a13;  */
    background: hsla(227, 57%, 32%, 0.9);
    border-radius: var(--borderRadius);
    width: 100%;
    color: var(--shojiWhite);
    margin: 0 auto;
    margin-bottom: var(--largeSpacing);
}


.cardContainer img {
    object-fit: cover;
    width: 100%;
    border-radius: var(--borderRadius);
}

.cardText p {
    font-size: 16px;
    padding: var(--largeSpacing);
} 

/* entry point */
.entryPointAshiharaContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointAshihara {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/entryPoints/EntryPointomAshiharaDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointAshihara:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */

/* media query til tablet, 2 kolonner */
@media screen and (max-width: 1168px) {
    .gridContianer {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        max-width: 800px;
        margin: 0 auto;
    }

    .descriptInstructors {
        max-width: 700px;
    }
}

/* media query til mobil, 1 kolonne */
@media screen and (max-width: 768px) {
    .gridContianer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        max-width: 390px;
        margin: 0 auto;
    }

    .descriptInstructors {
        max-width: 500px;
    }

    .heroTitle h1 {
        font-size: 4vh; 
    }
}


/* MØD INSTRUKTØRENE SLUT */

/*  OM KLUBBEN */
/* header */
.omKlubbenBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/OmKlubbenHeader.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main text */
.klubbenTextContainer {
    background-color: white;
    padding: 3rem 0;
}

.klubbenText {
    max-width: 70ch;
    margin: 0 auto;
    padding: var(--stndSpacing);
}

.klubbenText p {
    margin: 1rem 0;
}


/* entrypoint instruktører */
.entryInstructorsContainer{
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryInstructors {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.158)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryInstructors:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .klubbenTextContainer {
        padding: 4rem 0;
        margin: 8rem 0;
    }
    
    .klubbenText {
        max-width: 80%;
        margin: 0 auto;
    }

    .entryInstructors {
        margin: 0 auto;
        max-width: 90%;
    }
}
/* om klubben færdig */



/* footer  styles */

.footerBackgroundColor {
background-color: black;
}

footer {
padding-block: var(--largeSpacing);
width: 80%;
margin: 0 auto;
/* display: flex;
justify-content: center;
gap: var(--largeSpacing); */
}

.footercontent {
   text-align: center;
}
.footercontent i {
   font-size: 2rem;
   color: var(--shojiWhite);
}

/* footer .logo img {
    width: 249px;
    height: 100%;
} */

.logoWidth {
    width: 249px;
    height: 100%;
    margin: 0 auto;
}



footer p {
color: var(--shojiWhite);
font-weight: 600;
font-size: .8em;
}

.footerFlex {
    display: flex;
    gap: var(--stndSpacing);
}

.kontaktInfo {
    width: 249px;
    margin:  auto;
    padding: var(--stndSpacing);
}
.kontaktInfo div:nth-child(1), .kontaktInfo div:nth-child(2){
    padding-bottom: var(--stndSpacing);
}

.socials {
    width: 249px;
    margin: 0 auto;
    padding-bottom: var(--stndSpacing);
}

.socials i {
  margin: 0 1rem;
  transition: .3s ease-in-out;
}

.socials i:hover {
    transform: scale(130%);
}

@media screen and (min-width:1050px) {
  .footercontent {
    display: flex;  
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }  

  .burgerMenu i {
    display: none;
  }

}

@media screen and (max-width:1050px) {
    .menu li {
        display: none; 
    }

    .menu i {
        display: inline-block;
        color: var(--shojiWhite);
        font-size: 3vh;
        margin: var(--stndSpacing);
    }
}

/* nyheder start */
/* header */
.nyhederBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/nyhederDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */
/* nyheder cards */
.newsGridContainer {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
}

.newsCardContainer {
    max-width: 100%;
    padding: var(--largeSpacing);
    background-color: white;   
    text-align: center;
    border-radius: var(--borderRadius);
    transition: .3s ease-in-out;
    margin-top: 4rem;
}

.newsCardContainer:hover {
    transform: scale(105%);
}

.newsText h3 {
    margin: .5rem;
    font-weight: 700;
    color: var(--primaryBlue);
}

.newsText p {
    margin: var(--stndSpacing);
    font-size: .8rem;
    color: var(--primaryBlue);
}

.newsImg {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/nyheder/1artikel.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newsImgText p {
    font-weight: 700;
    font-size: 2rem;
}

.news2Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/nyheder/2artikel.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news3Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/nyheder/3artikele.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.news4Img {
    background-image:linear-gradient( rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.637)), url(../images/nyheder/4artikel.png);
    height: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* entrypoint */
.entryTiderogHoldContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryTiderogHold {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/moedinstruktorendeHeroDekstop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryTiderogHold:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries nyheder */
@media screen and (max-width: 768px) {
    .newsGridContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-gap: 2rem; 
    }

    .newsCardContainer {
        margin-top: var(--stndSpacing);
    }

    .newsImg, .news2Img, .news3Img, .news4Img {
        height: 50vh;
    }
}

@media screen and (min-width: 2208px) {
    .newsGridContainer {
        grid-template-columns: repeat(4, minmax(400px, 1fr));
        max-width: 2400px;
        margin: 0 auto;
    }
}
/* nyheder slut */

/* Værdier og etikette start */
/* header */
.etiketteBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/veardier-og-etikette.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */
/* værdier section */
.vaerdierContainer {
    padding: 4rem;
    max-width: 1100px;
    margin: 2rem auto;
    background-color: white;
    border-radius: var(--borderRadius);
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    place-items: center;
    align-items: baseline;
}

.listContainer ul {
    margin: .5rem 0;
    padding-top: var(--largeSpacing);
}

.listContainer li {
    margin-top: 1rem;
    font-weight: 300;
}

.listContainer h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.listContainer i {
    color: var(--primaryBlue);
    margin-right: 1rem;
    font-weight: 500;
}

#balance {
    margin-bottom: 5rem;
}

.vaerdierContainer h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--stndSpacing);
}

/* etikette section */
.etiketteIntro {
    text-align: center;
}

.etiketteIntro h2 {
    font-size: 2rem;
    margin-top: var(--largeSpacing);
    margin-bottom: var(--stndSpacing);
}

.etiketteIntro p {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
    padding-bottom: var(--largeSpacing);
}


/* etikette punkter */
.etikettePunkterHvid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--stndSpacing);
    margin: 0 auto;
    max-width: 800px;
  }

  .fullWidth {
    background-color: white;
    max-width: 100vw;
  }
  
  .etikettePunkter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--stndSpacing);
    margin: 0 auto;
    max-width: 800px;
  }
  
  .num p {
    display: flex;
    align-self: flex-start;
    color: var(--primaryBlue);
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 3rem;
  }
  
  .punkt {
    max-width: 600px;
    text-align: left;
  }


  /* værdier media queries  */
  @media screen and (max-width: 768px) {
    .listContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-gap: unset; 
    }

    #balance {
        margin: 0;
    }

    .num {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .punkt {
        max-width: 250px;
    }
}

/* værdier og etikette slut */

/* bliv medlem start */
/* header styling */
.blivMedlemBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/4blivMedlemHeroDesktop.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main styling */
/* tekst styling */
.introText {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: var(--largeSpacing);
}

.introText p {
    max-width: unset;
    margin-top: var(--stndSpacing);
    margin-bottom: var(--largeSpacing);
}

/* form syling */
select {
    border: unset;
    text-align: left;
    min-width: 50vw;
    height: 3rem;
    padding: 1rem; 
    font-style: italic;
    margin-bottom: 1rem;
}

option {
    font-size: 1rem;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem; 
}

input {
    margin-bottom: var(--stndSpacing);
    border-radius: 3px;
    border: unset;
    text-align: left;
    min-width: 50vw;
    height: 3rem;
    padding: 1rem;
}

label {
    font-weight: 700;
    display: inline-block;
    font-size: 1.2rem;
}

::placeholder {
    font-style: italic;
}

/* rød button */
.blivMedlemBtn {
    color: white;
    font-weight: 700;
    background-color: var(--crimsonRed);
    padding: 1rem 2rem;
    min-width: 15vw;
    border: unset;
    border-radius: var(--borderRadius);
    margin-top: var(--stndSpacing);
    transition: .3s ease-in-out;
}

.blivMedlemBtn:hover {
    background-color: var(--crimsonLight);
    font-size: 93%;
}

/* entry points udstyr */
.entryPointUdstyrContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointUdstyr {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/entryPoints/udstyrBtnDesktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointUdstyr:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .introText {
        max-width: 300px;
        margin: 10%
    }

    .blivMedlemBackgroundImg h1 {
        font-size: 10vw;
    }
}
/* bliv medlem slut */

/* tider og hold start */
/* header */
.tiderOgHoldBackgroundImg {
    height: 90vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.384)), url(../images/forside/3traeningtider-og-hold-Desktop.jgp.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* træningstider sektion*/
.tiderContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    text-align: center;
    align-items: baseline;
}

.tiderContainer h3 {
    font-size: 1.8rem;
    text-wrap: wrap;
    margin: var(--stndSpacing);
}

.traeningsTiderHvid {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    padding-top: var(--largeSpacing);
}

.traeningsTider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.traeningsTiderHvid p, .traeningsTider p {
    margin: var(--stndSpacing);
}

.tid {
    display: flex;
}

.ugedag {
    padding-right: 4em;
    font-weight: 700;
}

/* beskrivelser */

.beskrivelseTekst p {
    margin: var(--stndSpacing);
}


.beskrivelseTekst h3 {
    font-size: 1.5rem;
    margin: var(--stndSpacing);
}

.beskrivelseTekst {
    margin: var(--largeSpacing);
}


/* entry point */
.entryBlivMedlemContainer {
    max-width: 400px;
    height: 250px; 
    margin: 4rem auto;
}

.entryPointBlivMedlem {
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.586), rgba(0, 0, 0, 0.425)), url(../images/entryPoints/EntryPointblivMedlem.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease-in-out;
}

.entryPointBlivMedlem:hover {
    transform: scale(1.1);
}

.btnText {
    color: var(--shojiWhite);
    font-weight: 800;
    font-size: 2rem;
}

/* media queries */
@media screen and (max-width: 768px) {
    .tiderContainer {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .beskrivelseTekst {
        max-width: 400px;
    }

    .heroTextContainer h1{
        font-size: 3rem;
    }
}

/* tider og hold slut */